<% @map ||= current_user.turn.game_map %>
<% @map.turns.each_with_index do |t, index| %>
    <div class="info<%= index %> <%= 'now_turn' if @map.current_turn == t %>">
      名前:<%= t.user.name %><br>
      <% if t.user == current_user %>
          <div>
            羊@<%= t.user.resources(:sheep).count %><br>
            麦@<%= t.user.resources(:wheat).count %><br>
            土@<%= t.user.resources(:soil).count %><br>
            鉄@<%= t.user.resources(:iron).count %><br>
            木@<%= t.user.resources(:tree).count %>
          </div>
      <% else %>
          <div>
            資源@<%= t.user.game_resources.count %>
          </div>
      <% end %>
    </div>
<% end %>
