<% if logged_in? %>
<div class="line">
  <div class="inline">
    <div class="building">building<br>道<br>開拓地<br>都市<br>
    <%= current_user.name %><br>
    サイコロの目は、<%= dice %>でした！</div>
    <%= link_to 'get_resource' , tops_get_resources_path %>
    <div class="trade">貿易関係
      <h4>輸出するもの:</h4>
      <%= form_tag game_buildings_path remote: true do%>
      <%= label_tag :export %>
      羊<%= radio_button_tag :export , 'page[category]', 'rails_base' %>
      麦<%= radio_button_tag :export , 'page[category]', 'rails_base' %>
      鉄<%= radio_button_tag :export , 'page[category]', 'rails_base' %>
      木<%= radio_button_tag :export , 'page[category]', 'rails_base' %>
      土<%= radio_button_tag :export , 'page[category]', 'rails_base' %>
      <% end %>
      <h4>輸入するもの:</h4>
      <%= form_tag game_buildings_path remote: true do%>
      <%= label_tag :inport %>
      羊<%= radio_button_tag :inport , 'page[category]', 'rails_base' %>
      麦<%= radio_button_tag :inport , 'page[category]', 'rails_base' %>
      鉄<%= radio_button_tag :inport , 'page[category]', 'rails_base' %>
      木<%= radio_button_tag :inport , 'page[category]', 'rails_base' %>
      土<%= radio_button_tag :inport , 'page[category]', 'rails_base' %>
      <% end %>
      <%= submit_tag '交換!'%>
    </div>
  </div>
  <canvas id="map" width="500" height="500"></canvas>
  <% @sides.each do |side| %>
      <%= form_tag game_buildings_path, remote: true do %>
          <%= hidden_field_tag :side_id, side.id %>
          <%= image_submit_tag side.game_building&.building_type&.name || 'road.png', class: :side %>
      <% end %>
  <% end %>

  <% @intersections.each do |intersection| %>
      <%= form_tag game_buildings_path, remote: true do %>
          <%= hidden_field_tag :intersection_id, intersection.id %>
          <%= image_submit_tag intersection.game_building&.building_type&.name || 'nothing.png', class: :intersection %>
      <% end %>
  <% end %>

  <% @fields.each do |field| %>
      <span class="field" resource_type="<%= field.resource_type.name %>">
        <%= field.number %>
      </span>
  <% end %>

  <%= form_tag tops_turn_end_path, remote: true do  %>
    <%= submit_tag 'ターン終了', class: 'turn-end', id: 'turn-end' %>
  <% end %>

  <div class="chat">
    <form id="form">
    <input type="text" id="msg">
    <input type="submit" value= "送信">
    </form>
  <div id="msg_view"></div>
  </div>
</div>

<div class="info-wrap"><%= render 'infos' %></div>
<% else %>

<h1>Login Faild!</h1>
<%= link_to "Retry_Login", login_url %>
<% end %>
