<% if logged_in? %>
<div class="line">
  <div class="inline">
    <div class="building">
    building<br>
    <table class="resource_table" border="2">
      <tr><th>道</th><td>木土</td><td>0ポイント</td></tr>
      <tr><th>開拓地</th><td>木土麦羊</td><td>1ポイント</td></tr>
      <tr><th>都市</th><td>麦麦鉄鉄鉄</td><td>2ポイント</td></tr>
    </table>
    <%= current_user.name %><br>
    サイコロの目は、<%= dice %>でした！</div>
    <div class="trade">貿易関係
      <h4>輸出するもの:</h4>
      <%= form_tag tops_trade_path, remote: true do%>
      羊<%= radio_button_tag :export , 'sheep' , 'export'%>
      麦<%= radio_button_tag :export , 'wheat' , 'export' %>
      鉄<%= radio_button_tag :export , 'iron'  , 'export'%>
      木<%= radio_button_tag :export , 'tree'  , 'export' %>
      土<%= radio_button_tag :export , 'soil'  , 'export'%>
      <h4>輸入するもの:</h4>
      羊<%= radio_button_tag :import , 'sheep' , 'import'%>
      麦<%= radio_button_tag :import , 'wheat' , 'import'%>
      鉄<%= radio_button_tag :import , 'iron'  , 'import'%>
      木<%= radio_button_tag :import , 'tree'  , 'import'%>
      土<%= radio_button_tag :import , 'soil'  , 'import'%><br>
      <%= submit_tag '交換!'%>
      <% end %>
    </div>
  </div>
  <canvas id="map" width="500" height="500"></canvas>
  <% @sides.each do |side| %>
      <%= form_tag game_buildings_path, remote: true do %>
          <%= hidden_field_tag :side_id, side.id %>
          <%= image_submit_tag building_image(side, default:'road.png'), class: :side %>
      <% end %>
  <% end %>

  <% @intersections.each do |intersection| %>
      <%= form_tag game_buildings_path, remote: true do %>
          <%= hidden_field_tag :intersection_id, intersection.id %>
          <%= image_submit_tag building_image(intersection, default:'nothing.png'), class: :intersection %>
      <% end %>
  <% end %>

  <% @fields.each do |field| %>
      <span class="field" resource_type="<%= field.resource_type.name %>">
        <%= field.number %>
      </span>
  <% end %>

  <%= form_tag tops_turn_end_path, remote: true do  %>
    <%= submit_tag 'ターン終了', class: 'turn-end', id: 'turn-end' %>
  <% end %>

  <div class="chat">
    <form id="form">
    <input type="text" id="msg">
    <input type="submit" value= "送信">
    </form>
  <div id="msg_view"></div>
  </div>
</div>

<div class="info-wrap"><%= render partial: 'infos', locals: {map: @map} %></div>
<% else %>

<h1>ようこそ</h1>
<%= link_to "参加する", login_url %>
<% end %>
