<h1>Signup or Login</h1>

<div>
	<%= form_for(:sessiion, url:signup_path) do |f| %>
		<%= f.label :name %>
		<%= <%= f.text_field :name  %>>
		<%= submit "Signup"%>
	<% end %>
</div>


<div>
	<%= form_for(:sessiion, url:login_path) do |f| %>
		<%= f.label :name %>
		<%= <%= f.text_field :name  %>>
		<%= submit "Login"%>
	<% end %>
</div>
